.darkBg{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.centered{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.modal {
  width:900px;
  height:900px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  position: relative;
  
}
.chooseBtn{
  position: relative;
  left: 50%;
  top: 90%;
}

